@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3 style="margin-left: 250px">Movie Cinema <span>Website</span></h3>
                <div class="address"><br><br>
                  <h4>Developed By:</h4>
                    <h4 style="margin-left: 100px">Syed Haider Ali</h4>
                    <h4 style="margin-left: 100px">BCSF12A038</h4> 
                </div>
              </div>
            </div>
          </div>
        </div>

<br><br><br><br><br><br><br><br><br><br>