@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="content">
        <div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3>Contact <span>Details</span></h3>
                <div class="address">
                  <div class="fleft"><span>Zip Code:</span>45000<br />
                    <span>Country:</span>PAKISTAN<br />
                    <span>Telephone:</span>+92342-4206984<br />
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Contact <span>Form</span></h3>
          <form id="contacts-form" action="#">
            
              <div class="field">
                <label>Your Name:</label>
                <input type="text" value=""/>
              </div>
              <div class="field">
                <label>Your E-mail:</label>
                <input type="text" value=""/>
              </div>
              <div class="field">
                <label>Subject :</label>
                <input type="text" value=""/>
              </div>
              <div class="field">
                <label>Your Message:</label>
                <textarea cols="1" rows="1"></textarea>
              </div>
              <div class="wrapper"> <a href="#" class="link2"> <span> <span>Send Your Message</span> </span> </a> </div>
            
          </form>
        </div>
      </div>