@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


   
<div id="content">
        <div id="slogan">
          <div class="image png"></div>
          <div class="inside">
            <h3> Welcome to <br>Cinema <span>World</span></h3>
            <p>Using this site you can see upcoming movies.You can also become a member of our cinema website to get different discount offers. Using this website you can also reserve ticket.</p>
            <div class="wrapper"><a href="#" class="link1"><span><span>Learn More</span></span></a></div>
          </div>
        </div>
  

 </div>

<div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                  <img src="~/Images/1page-img1.jpg" style="width:200px;height:250px" />
                  <img src="~/Images/1page-img3.jpg" style="width:200px;height:250px"/>
                  <img src="~/Images/1page-img2.jpg" style="width:200px;height:250px"/>
                  <img src="~/Images/1page-img4.jpg" style="width:200px;height:250px"/>
                  <img src="~/Images/Category/zathura-a-space-adventure-2005-movie-poster.jpg" style="width:200px;height:250px"/>
                  <img src="~/Images/Category/edgeOfTomorrow.jpeg" style="width:200px;height:250px"/>
                  <img src="~/Images/Category/ironMan3.jpeg" style="width:200px;height:250px"/>
                  <img src="~/Images/Category/the-hobbit-the-battle-of-the-five-armies.jpg" style="width:200px;height:250px"/>
              </div>
            </div>
          </div>
        </div>
