@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                  <br><br>
                  <h4>

                 <ul>
                     <li style="margin-left: 390px">@Html.ActionLink("ADMIN","adminLogin","Home",null)</li> 
                    <li style="margin-left: 390px"> @Html.ActionLink("MEMBER","userLogin","Home",null)</li>
                  </ul>
                      </h4>
                </div>
              </div>
            </div>
          </div>
        

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>