@{
    ViewBag.Title = "userLogin";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                  <br><br>
                  <h2 style="color:gray" >Login</h2>
                <form  class="login-form" method="post" action="AdminPanel">
            
                    <div class="login-wrap">
                        <p class="login-img"><i class="icon_lock_alt"></i></p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input type="text" class="form-control" placeholder="Username" name="user" autofocus>
                    
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input type="password" class="form-control" placeholder="Password" name="pass">
                        </div>
                        <br>
                        <div class="wrapper"> 
                            <a href="#" class="link2"> <span> <span>SignIn</span> </span> </a> 
                            <a href="#" class="link2"> <span> <span>SignUp</span> </span> </a>
                        </div>
                     
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>